{% extends 'guests/main.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Ownly</title>
</head>
<body>
<div class="row section_margin">
    <div class="col-12">
        <h3>Besucher Formular</h3>
    </div>
</div>

<div class="row">
    <div class="col-6" style="float:none;margin:auto;"> <!-- setzt den Bereich der Eingabefelder automatisch in den Container central -->
        <form method="POST" action="" class="formular">
            {% csrf_token %}
            {{form.as_p}}
            <div class="button-wrapper">
                <input type="submit" value="Login" class="button button-primary push-right-36">
                <a href="{% url 'guests:users' %}" class="button button-secondary"> Zurück </a>
            </div>

    </div>
</div>


</form>

</body>
{% endblock content %}