{% extends 'base/main.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row section_margin">
    <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            <p> Sind Sie sicher das Sie diesen Besucher löschen wollen? "{{user}}" </p>
    </div>
</div>
<input type="submit" value="Löschen" class="delete_btn">
</form>

<div class="row section_margin">
    <div class="col-12">
          <div class="button-wrapper">
        <a href="{% url 'base:user-leave' %}"  class="button button-secondary button button-wra">Zurück</a>
          </div>
    </div>
</div>
</body>
{% endblock content %}